menu "Application settings"

config AX5X43_INIT_PRIORITY
	int "AX5X43 init priority"
	default 75
	help
	  Device initialization priority

module = AX5X43
module-str = ax5x43
source "subsys/logging/Kconfig.template.log_config"

endmenu

source "Kconfig.zephyr"
